/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/docker
/vendor
/.idea
_ide_helper.php
.phpstorm.meta.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
