// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Navbar
$navbar-dark-color: rgba(#fff, .8);
$navbar-dark-hover-color: rgba(#fff, .95);

    // Colors
$blue: #337ab7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #d9534f;
$orange: #f6993f;
$yellow: #f0ad4e;
$green: #4db24d;
$teal: #4dc0b5;
$cyan: #5bc0de;

$primary:       $blue;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
